/* ==UserStyle==
@name       whatever
@namespace  whatever
@version    0.0.0
   ==/UserStyle== */

@-moz-document domain('pkg.go.dev'), url-prefix('http://localhost:801') {
    .go-Main-header[data-fixed], .go-Main-nav--sticky { display: none !important }
}

@-moz-document url-prefix('https://gufo.me/dict/') {
    .hidden-print, .adverterans, .csr-uniq1 { display: none !important }
    #dictionary-acticle { margin-top: 2em !important }
}

@-moz-document domain('m.vk.com') {
    #l { display: none !important }
    #vk_wrap { margin: 0 !important }
}
