@media (height = 1200px) and (width < 1920px) {   /* width=1920px means fullscreen */
    #TabsToolbar {
        visibility: collapse;
    }
}

@media (height >= 1199px) {
    #nav-bar {
        --nav-bar-margin: -41px;
        margin-top: var(--nav-bar-margin);
        margin-bottom: 0;
        z-index: -100;
        opacity: 0;
    }
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
    margin-top: 0;
    margin-bottom: var(--nav-margin);
    z-index: 100;
    opacity: 1;
}
