body {
    max-width: 80ch;
    margin: 1em 2em;
    padding: 1em;
    background: #fafafa;
    color: #101010;
    font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #eee;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

a:link, a:visited {
    color: #4da6ff;
}

a:hover {
    color: #80c1ff;
}

code, pre {
    background: #eee;
    color: #111;
    padding: 0.2em 0.4em;
}

@media (prefers-color-scheme: dark) {
    code, pre {
        background: #333;
        color: #ddd;
    }
}

pre {
    padding: 1em;
    overflow: auto;
}

small {
    color: #666;
}

@media (prefers-color-scheme: dark) {
    small {
        color: #aaa;
    }
}

kbd {
    background: #ddd;
    color: #000;
    padding: 0.2em 0.4em;
    border: 1px solid #aaa;
}

@media (prefers-color-scheme: dark) {
    kbd {
        background: #444;
        color: #fff;
        border: 1px solid #666;
    }
}
