@binding-set scroll {
    bind "<Shift><Alt>KP_Prior" { "scroll-child" (page-backward, 0) };
    bind "<Shift><Alt>KP_Next"  { "scroll-child" (page-forward, 0) };
}

scrolledwindow {
    -gtk-key-bindings: scroll;
}

@binding-set start-interactive-search {
    bind "<Control><Alt>f" { "start-interactive-search" () };
}

@binding-set multi-move-cursor {
    bind "<Alt>KP_Prior" {
        "move-cursor" (display-lines, -1)
        "move-cursor" (display-lines, -1)
        "move-cursor" (display-lines, -1)
        "move-cursor" (display-lines, -1)
        "move-cursor" (display-lines, -1)
    };
    bind "<Alt>KP_Next" {
        "move-cursor" (display-lines, 1)
        "move-cursor" (display-lines, 1)
        "move-cursor" (display-lines, 1)
        "move-cursor" (display-lines, 1)
        "move-cursor" (display-lines, 1)
    };
}

treeview {
    -gtk-key-bindings: start-interactive-search, multi-move-cursor;
}

#XfcePanelWindow {
   -XfcePanelWindow-autohide-size: 1;
}

#xfce4-terminal-notebook:not(.frame) vte-terminal { /* .frame is dropdown */
    padding-left: 6px;
}

.thunar treeview {
    font-size: 105%;
}

.dimmed, .dimmed * {
    color: #555555;
}
